<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Placeholder</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .tooltip {
            opacity: 1 !important;
            position: inherit !important;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            display: none;
            width:250px;
            max-width:250px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            display: block;
        }
    </style>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2CE5EA5Geguyvhza-loQJqggriFTRB4E&callback=initMap"></script>

</head>
<body ng-app="app" ng-controller="home as home">

<table>
    <tr>
        <td>
            <div id="map" style="width: 80vw; height: 100vh;"></div>
        </td>
        <td><h1>Login</h1>
            <div class="container" style="width: 18vw;" ng-show="!home.authenticated">
                <div>
                <a href="/login/facebook"><img width="200" src="http://i.imgur.com/386LZtS.png"/></a>
                </div>
                <div>
                    <a href="/login/google"><img width="200" src="http://i.imgur.com/u7eWXFE.png"/></a>
                </div>
                <div>
                    <a href="/login/instagram"><img width="200" src="http://i.imgur.com/k9BC0cu.png"/></a>
                </div>
            </div>
            <div class="container" style="width: 18vw;" ng-show="home.authenticated">
                Hello, <span ng-bind="home.user"></span>!<br/>
                <div>
                    <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
                </div>
            </div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business"
                       value="donations@placeHolder.org">

                <!-- Specify a Donate button. -->
                <input type="hidden" name="cmd" value="_donations">

                <!-- Specify details about the contribution -->
                <input type="hidden" name="item_name" value="Support us">
                <input type="hidden" name="item_number" value="Implementing new features">
                <input type="hidden" name="currency_code" value="USD">

                <!-- Display the payment button. -->
                <input type="image" name="submit"
                       src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png"
                       alt="Donate">
                <img alt="" width="1" height="1"
                     src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

            </form>
        </td>
    </tr>
</table>

<script type="text/javascript">
    // Create an array of alphabetical characters used to label the markers.
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 48.024, lng: 21.887}
        });

        // Add a marker clusterer to manage the markers.
        var locations = [];
        var markerCluster = getMarkerCluster(map, getMarkers(locations));
    }

    angular
        .module("app", [])
        .config(
            function ($httpProvider) {
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            }).controller("home", function ($http, $location) {
        var self = this;
        $http.get("/user").success(function (data) {
            if (data.name) {
                self.user = data.name;
                self.authenticated = true;
            } else {
                self.user = "N/A";
                self.authenticated = false;
            }
        }).error(function () {
            self.user = "N/A";
            self.authenticated = false;
        });
        self.logout = function () {
            $http.post('logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function (data) {
                console.log("Logout failed")
                self.authenticated = false;
            });
        };

        $http.get("/facebook/array")
            .success(function (response) {
                console.log(response);
                self.locations = response.data;
                getMarkerCluster(map, getMarkers(self.locations))
            });
    });

    $('#donate').click(function () {
        chrome.tabs.create({
            url: 'https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=MY_EMAIL'
        });
    });

    function getMarkers(locationsData) {
        var markers = locationsData.map(function (locationInfo, i) {
            return new google.maps.Marker({
                position: {lat: locationInfo.coordinates.lat, lng: locationInfo.coordinates.lng},
                label: "" + locationInfo.photos.length,

                photos: locationInfo.photos
            });
        });
        markers.forEach(function (marker) {
            google.maps.event.addListener(marker, 'click', function () {
                var contentInfo = getContentInfoArray(marker);
                infowindow = new google.maps.InfoWindow({
                    content: contentInfo
                });
                infowindow.open(map, marker);
            });
        });
        return markers;
    }

    function getContentInfoArray(marker) {
        var contentInfo = "<div>";

        marker.photos.forEach(function (photo) {
            contentInfo += "<br/>" + photo.createdTime + "<br/>";
            contentInfo +=
                '<div class="tooltip">'
                + "<img width='254' src=" + photo.url + "><br/>"
                + "<span class='tooltiptext' width='254'>" + photo.content + "</span>"
                + "</div>";
        });

        contentInfo += "</div>";
        return contentInfo;
    }

    function getMarkerCluster(map, markers) {
        return new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'})
    }
</script>
</body>
</html>